/* ==========================================
   RODAPÉ INSTITUCIONAL (SSPDS)
   ========================================== */
.sspds_footer {
    background-color: #ffffff;
    width: 100%;
    /* Empurra o footer para o final da tela em conjunto com o flex do global.css */
    margin-top: auto; 
    color: #555555;
    border-top: 1px solid #e0e0e0;
}

.footer_top_line {
    height: 4px;
    background-color: #008959;
    width: 100%;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer_brand h2 {
    font-size: 16px;
    color: #666666;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer_info, .footer_hours, .footer_social {
    font-size: 11px;
    line-height: 1.6;
    font-style: normal;
}

.footer_container strong {
    color: #444444;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.footer_social {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social_icons {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 5px 0;
}

.social_icons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #00b37e;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.social_icons li a:hover, 
.social_icons li a:focus {
    background-color: #008959;
    outline: none;
}

.copyright {
    margin-top: 5px;
    color: #777777;
    font-size: 10px;
}

/* ==========================================
   ESTILIZAÇÃO DAS LOGOMARCAS (HEADER E FOOTER)
   ========================================== */

/* Alinhamento da logo com o título no topo */
.logo_container {
    display: flex;
    align-items: center;
    gap: 15px; /* Cria um respiro visual entre a imagem e o texto */
}

/* Controle rígido de altura para a logo da SSPDS */
.header_logo {
    max-height: 50px;
    width: auto;
    object-fit: contain;
}

/* Controle rígido de altura para a logo do Estado */
.footer_logo {
    max-height: 65px;
    width: auto;
    object-fit: contain;
    margin-bottom: 10px; /* Separa a imagem do texto abaixo dela */
}